<table class="profile" summary="Profile information">
	<tr>
		<td class="main">
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
		</td>
		<td class="sidebar round">
			<strong>Name</strong> <%= @user.name %> <br />
			<strong>URL</strong> <%= link_to user_path(@user), @user %>
		</td>
	</tr>
</table>
<nav>
	Tweets: 3
</nav>
<p>
	<br/>Tweet list:
	<ul>
		<li>Tweet 3</li>
		<li>Tweet 2</li>
		<li>Tweet 1</li>
	</ul>
</p>