<table class="profile" summary="Profile information">
	<tr>
		<td class="main">
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
		</td>
		<td class="sidebar round">
			<strong>Name</strong> <%= @user.name %> <br />
			<strong>URL</strong> <%= link_to user_path(@user), @user %>
		</td>
	</tr>
	<tr>
		<td style="background-color: #ffffff; font-size: 12px;">
			<p>To change your Avatar picture: Go to <a href="http://www.gravatar.com">Gravatar</a>, sign up for an account with the same email address as the one used for this site, and use their site to change your avatar.
				</p>
		</td>
	</tr>
</table>
<nav>
	Tweets: 3
</nav>
<p>
	<br/>Tweet list:
	<ul>
		<li>Tweet 3</li>
		<li>Tweet 2</li>
		<li>Tweet 1</li>
	</ul>
</p>