<h1>Contact</h1>
<p>
	Contact Ruby on Rails Tutorial about the sample app at the
	<a href="http://railstutorial.org/feedback">feedback page</a>.
	Or, you can contact the developer who made this site as part
	of his learning through his 
	<a href="http://www.twitter.com/#!/AwakePlace">Twitter page</a>
	, or his 
	<a href="http://www.facebook.com/#!/AwakePlace">Facebook page</a>.
</p>